.dataListContainer{
    display: flex;
    margin: 25px;
    align-items: center;
    justify-content: center;
}

table{
    margin: 5px;
    border-collapse: collapse;
}

th {
    padding: 0 50px;
}
td {
    padding: 10px 50px;
}


